@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.card_img{
    width: 100px;
    background: #000;
}

.footer_icon{
    width: 30px;
}